@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    background-color: #77cfd975;
    margin: 30px 100px 25px 100px;
    border-radius: 15px;
}

.cabecalho-imagem {
    height: 80px;
}

.cabecalho-menu {
    display: flex;
    gap: 25px;
}

.cabecalho-menu-item {
    color: #03738C;
    font-weight: 300;
    font-size: 20px;
}

.cabecalho-menu-item:hover {
    text-decoration: overline;
}

.conteudo {
    margin: 50px 0px 50px 0px;
}

.conteudo-um {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-um-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;
    padding-left: 140px;
}

.conteudo-um-botao {
    background-color: #77CFD9;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    font-weight: 700;
    font-size: 28px;
    color: #037F8C;
}

.conteudo-um-botao:hover {
    background-color: #037F8C;
    color: #77CFD9;
}

.conteudo-dois {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px 80px 5px 80px;
    margin-top: 60px;
    margin-bottom: 90px;
    text-align: center;
}

.cont-dois-gp-um > h2:hover {
    text-decoration: line-through;
}

.cont-dois-gp-dois > h2:hover {
    text-decoration: line-through;
}

.cont-dois-gp-tres > h2:hover {
    text-decoration: line-through;
}

.cont-dois-gp-um {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    color: #03738C;
}

.cont-dois-gp-dois {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    color: #03738C;
}

.cont-dois-gp-tres {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    color: #03738C;
}

.cont-dois-gp-um-div {
    height: 140px;
    width: 140px;
    background-color: #77CFD9;
    border-radius: 60% 40% 37% 63% / 59% 31% 69% 41%;
    margin: auto;
    box-shadow: 8px 12px 0px #6ccad425;
}

.cont-dois-gp-dois-div {
    height: 140px;
    width: 140px;
    background-color: #77CFD9;
    border-radius: 45% 55% 16% 84% / 70% 21% 79% 30%;
    margin: auto;
    box-shadow: 8px 12px 0px #6ccad425;
}

.cont-dois-gp-tres-div {
    height: 140px;
    width: 140px;
    background-color: #77CFD9;
    border-radius: 25% 75% 38% 62% / 42% 45% 55% 58%;
    margin: auto;
    box-shadow: 8px 12px 0px #6ccad425;
}

.conteudo-um-cta {
    font-weight: 400;
    font-size: 64px;
    color: #037F8C;
    width: 500px;
    
}

.conteudo-um-imagem {
    height: 550px;
    padding-right: 50px;
}

.rodape {
    padding: 14px;
    background-color: #77cfd975;
    margin: 25px;
    border-radius: 15px;
}

.rodape-texto {
    text-align: center;
    font-weight: 300;
    color: #03738C;
    font-size: 14px;
}